<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Hacktoberfest Repository Checker">
    <meta name="description" content="A website to check if a repository or a pull request is eligible for hacktoberfest or not">
    <meta name="keywords" content="hacktoberfest, hf, hfchecker, repositorychecker, checker, opensource">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hfchecker.com">
    <meta property="og:title" content="Hacktoberfest Repository Checker">
    <meta property="og:description" content="A website to check if a repository or a pull request is eligible for hacktoberfest or not">
    <meta property="og:image" content="https://user-images.githubusercontent.com/55191873/133085921-ddfbdb3c-97ef-4681-b9c7-0f65a97b5151.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="hfchecker.com">
    <meta property="twitter:title" content="Hacktoberfest Repository Checker">
    <meta property="twitter:description" content="A website to check if a repository or a pull request is eligible for hacktoberfest or not">
    <meta property="twitter:image" content="https://user-images.githubusercontent.com/55191873/133085921-ddfbdb3c-97ef-4681-b9c7-0f65a97b5151.png">
    <title>Hacktoberfest Repository Checker</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="/css/dark-mode.css" rel="stylesheet" type="text/css" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/loaders-animation.css" type="text/css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="theme-color" content="#f74700" />
    <meta name="title" content="Hacktoberfest Repository Checker" />
    <meta
      name="description"
      content="This website can be used to check if your repository is eligible for Hacktoberfest 2021"
    />
    <meta
      name="keywords"
      content="Hacktoberfest, Hacktoberfest 2021, Digital Ocean"
    />
    <meta name="language" content="English" />
    <meta name="author" content="Manan Chawla" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
  </head>

  <body class="bg-light">
    <!-- Preloader -->
    <div
      class="
        preloader
        position-fixed
        top-0
        end-0
        start-0
        bottom-0
        bg-light
        d-flex
        align-items-center
        justify-content-center
        d-block
      "
    >
      <img src="/svg/logo.svg" class="preloader-logo" alt="preloader" />
    </div>
    <%- include('modal.ejs') -%>

    <%- include('navbar.ejs') -%>

    <!-- Banner -->
    <section id="banner" class="h-100 mt-5 pt-5">
      <div class="container pb-5">
        <div class="text-center">
          <img
            src="logoLight.svg"
            data-theme="light"
            class="hacktoberfest-logo w-75"
            alt="hacktoberfest-logo"
            draggable="false"
          />
        </div>
      </div>
      <form id="repo-checker-form">
        <div
          class="
            repo-input
            bg-white
            rounded-pill
            d-flex
            flex-row
            align-items-center
            justify-content-between
            px-4
            position-relative
          "
        >
          <input
            type="url"
            name="repo"
            class="
              custom-search-input
              bg-transparent
              align-self-stretch
              pe-1
              w-100
            "
            placeholder="Enter Repository Link"
            aria-label="Repository Url"
            aria-describedby="basic-addon2"
            autocomplete="off"
            required
          />
          <!-- <input
            type="submit"
            class="
              custom-search-button
              rounded-pill
              text-capitalize
              theme-light-orange
              flex-shrink-0 flex-grow-0
            "
            value="check"
          /> -->
          <button
            type="submit"
            class="
              custom-search-button
              rounded-pill
              text-capitalize
              theme-light-orange
              flex-shrink-0 flex-grow-0
            "
          >
            <div class="check-button-label d-block">Check</div>
            <div class="dots-container d-none">
              <i class="bi bi-circle-fill dot-1"></i>
              <i class="bi bi-circle-fill dot-2"></i>
              <i class="bi bi-circle-fill dot-3"></i>
            </div>
          </button>
          <!-- Last Searched Entries -->
          <div
            class="w-100 position-absolute start-0 last-searched"
            style="top: 120%"
          >
            <ul class="list-group list-group-flush">
              <!-- <li class="list-group-item d-flex align-content-center justify-content-between rounded-pill border-0">
                <span>Entry 1</span>
                <span class="bi bi-x"></span>
              </li> -->
            </ul>
          </div>
        </div>
      </form>

      <div class="theme-toggler-container">
        <button class="theme-toggler-button theme-light-orange shadow-lg">
          <i class="bi bi-moon-fill theme-toggler-icon"></i>
        </button>
      </div>

      <div class="position-fixed bottom-0 end-0 start-0">
        <p class="text-center theme-copyright copyright">
          This Website is made under Hacktoberfest 2021. Logo Copyright is
          reserved by <strong>Digital Ocean</strong>.
        </p>
      </div>
    </section>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script src="/js/api.js"></script>
  <script src="/js/list-items.js" defer></script>
  <script src="/js/input.js" defer></script>
  <script src="/js/main.js" type="text/javascript" defer></script>
</html>
