<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hacktoberfest Repository Checker</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="/css/dark-mode.css" rel="stylesheet" type="text/css" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="theme-color" content="#f74700" />
    <meta name="title" content="Hacktoberfest Repository Checker">
    <meta name="description" content="This website can be used to check if your repository is eligible for Hacktoberfest 2021">
    <meta name="keywords" content="Hacktoberfest, Hacktoberfest 2021, Digital Ocean">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Manav Chawla and Neeraj Gupta">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
  </head>

  <body
    class="
      bg-light
      d-flex
      flex-column
      align-content-center
      justify-content-center
    "
  >
    <!-- Modal -->
    <div class="modal" tabindex="-1" id="custom-modal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4 shadow-lg border-0 bg-light" style="border-radius: 10px;">
          <div class="modal-header border-0">
            <button
              type="button"
              class="btn-close p-2 rounded-circle theme-light-orange"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body d-flex align-items-center justify-content-center">
            <img src="svg/modalLogo.svg" alt="modal Logo" width="350">
          </div>
          <div class="modal-footer border-0">
            <div class="theme-dark-green p-4 w-100" style="border-radius: 10px;">
              <div class="bg-white d-flex align-items-center justify-content-center rounded-pill">
                <p class="px-4 py-2 px-lg-4 m-0 p-0" style="font-size: 0.9rem" id="modal-result">This repository is <span class="fw-bold theme-light-orange-link">eligible</span> for Hactoberfest 2021</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar -->
    <nav
      class="navbar fixed-top navbar-expand-lg px-3 px-lg-5 custom-nav bg-light"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="https://hacktoberfest.digitalocean.com">
          <img
            src="svg/logo.svg"
            alt="HacktoberFest-2021"
            draggable="false"
            width="150"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- <span class="navbar-toggler-icon"></span> -->
          <i class="bi bi-list fs-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="
                  nav-link
                  custom-link
                  text-capitalize
                  theme-light-orange-link
                  mx-3
                  fs-5
                "
                href="https://hacktoberfest.digitalocean.com/profile"
                >start Hacking</a
              >
            </li>
            <li class="nav-item">
              <a
                class="
                  nav-link
                  custom-link
                  text-capitalize
                  theme-light-orange-link
                  mx-3
                  fs-5
                "
                href="https://www.firsttimersonly.com/"
                >first timers</a
              >
            </li>
            <li class="nav-item">
              <a
                class="
                  nav-link
                  custom-link
                  text-capitalize
                  theme-light-orange-link
                  mx-3
                  fs-5
                "
                href="https://hacktoberfest.digitalocean.com"
                >about</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Banner -->
    <section id="banner">
      <div class="container pb-5">
        <div class="text-center">
          <img
            src="logoLight.svg"
            data-theme="light"
            class="hacktoberfest-logo w-75"
            alt="hacktoberfest-logo"
            draggable="false"
          />
        </div>
      </div>
      <form id="repo-checker-form">
        <div
          class="
            repo-input
            bg-white
            rounded-pill
            d-flex
            flex-row
            align-items-center
            justify-content-between
            px-4
          "
        >
          <input
            type="url"
            name="repo"
            class="
              custom-search-input
              bg-transparent
              align-self-stretch
              pe-1
              w-100
            "
            placeholder="Enter Repository Link"
            aria-label="Repository Url"
            aria-describedby="basic-addon2"
            autocomplete="off"
            required
          />
          <input
            type="submit"
            class="
              custom-search-button
              rounded-pill
              text-capitalize
              theme-light-orange
              flex-shrink-0 flex-grow-0
            "
            value="check"
          />
        </div>
      </form>

      <div class="theme-toggler-container">
        <button class="theme-toggler-button theme-light-orange shadow-lg">
          <i class="bi bi-moon-fill theme-toggler-icon"></i>
        </button>
      </div>

      <div class="position-fixed bottom-0 end-0 start-0">
        <p class="text-center theme-copyright copyright">
          This Website is made under Hacktoberfest 2021. Logo Copyright is
          reserved by <strong>Digital Ocean</strong>.
        </p>
      </div>
    </section>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script src="/js/api.js"></script>
  <script src="/js/main.js" type="text/javascript" defer></script>
</html>
