<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacktoberfest Repository Checker</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/dark-styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0111ae8a1f.js" crossorigin="anonymous"></script>
</head>
<body onload="getTheme()">
    <header class="hack-header">
        <a href="https://hacktoberfest.digitalocean.com" target="_blank" rel="noopener noreferrer">
            <img src="/svg/logo.svg" alt="Hacktoberfest">
        </a>
        <nav>
            <a class="hack-menu-button" href="#"><i class="fas fa-bars"></i></a>
            <ul>
                <li><a href="https://hacktoberfest.digitalocean.com/profile" target="_blank" rel="noopener noreferrer">START HACKING</a></li>
                <li><a href="https://www.firsttimersonly.com/" target="_blank" rel="noopener noreferrer">FIRST TIMERS</a></li>
                <li><a href="https://hacktoberfest.digitalocean.com" target="_blank" rel="noopener noreferrer">ABOUT</a></li>
            </ul>
        </nav>
    </header>
    <div class="hack-menu-mobile ds-none">
        <nav>
            <ul>
                <li><a href="https://hacktoberfest.digitalocean.com/profile" target="_blank" rel="noopener noreferrer">START HACKING</a></li>
                <li><a href="https://www.firsttimersonly.com/" target="_blank" rel="noopener noreferrer">FIRST TIMERS</a></li>
                <li><a href="https://hacktoberfest.digitalocean.com" target="_blank" rel="noopener noreferrer">ABOUT</a></li>
            </ul>
        </nav>
    </div>

    <main class="hack-main">
        <article>
            <header>
                <strong><h1>Hacktoberfest</h1></strong>
                <h4>Repository Checker</h4>
            </header>

            <form method="POST" action="/check">
                <input type="text" name="repo" placeholder="Repository Link" aria-label="Repository Url" aria-describedby="basic-addon2" required>
                <button type="submit">CHECK</button>
            </form>
        </article>
    </main>

    <div class="hack-switch">
        <p>Dark Mode</p>
        <label class="switch">
            <input id="toggle-checkbox" type="checkbox" onclick="toogleMode()" title="Dark/light">
            <span class="slider round"></span>
        </label>
    </div>

    <% if(show=="success"){ %>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Congratulations!</h5>
              <!-- <h5 class="modal-title" id="exampleModalLabel">Uh Oh!</h5> -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              This repository is eligible for Hacktoberfest.
            </div>
            <!-- <div class="modal-body">
                  This repository is inelligible for Hacktoberfest.
                </div> -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <% } else if(show=="failed"){ %>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <h5 class="modal-title" id="exampleModalLabel">Congratulations!</h5> -->
              <h5 class="modal-title" id="exampleModalLabel">Uh Oh!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- <div class="modal-body">
                    This repository is eligible for Hacktoberfest.
                  </div> -->
            <div class="modal-body">
              This repository is inelligible for Hacktoberfest.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <% } %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script>
        $('#exampleModal').modal('toggle')
    </script>

    <script>
        document.querySelector(".hack-menu-button").addEventListener('click',(e)=>{
            e.preventDefault();

            let menuMobileStats = document.querySelector(".hack-menu-mobile").getAttribute("class");

            if(menuMobileStats == "hack-menu-mobile ds-none"){
                document.querySelector(".hack-menu-mobile").setAttribute("class","hack-menu-mobile");
                return;
            }else if(menuMobileStats == "hack-menu-mobile"){
                document.querySelector(".hack-menu-mobile").setAttribute("class","hack-menu-mobile ds-none");
                return;
            }
        
        });

        function getTheme(){
            if(localStorage.getItem('mode') === 'dark'){
                document.querySelector('body').classList.add('dark');
                document.querySelector('.hack-switch input').checked = true;
            }else{
                document.querySelector('body').classList.remove('dark');
            }
        }

        function toogleMode(){
            localStorage.setItem('mode', (localStorage.getItem('mode') || 'light') === 'light' ? 'dark' : 'light');
            localStorage.getItem('mode') === 'dark' ? document.querySelector('body').classList.add('dark') : document.querySelector('body').classList.remove('dark');
        }
    </script>
</body>
</html>