<!-- Modal -->
<div class="modal custom-modal" tabindex="-1" id="custom-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div
        class="modal-content p-4 shadow-lg border-0 bg-light"
        style="border-radius: 10px"
      >
        <div class="modal-header border-0">
          <button
            type="button"
            class="
              p-2
              border-0
              px-1
              rounded-circle
              theme-light-orange
              d-flex
              align-items-center
              justify-content-center
              ms-auto
              button-close
            "
            data-bs-dismiss="modal"
            aria-label="Close"
            style="width: 40px; height: 40px"
          >
            <i class="bi bi-x fs-3 text-white"></i>
          </button>
        </div>
        <div
          class="modal-body d-flex align-items-center justify-content-center"
        >
          <img src="svg/modalLogo-light.svg" alt="modal Logo" width="350" class="model-logo" data-theme="light" />
        </div>
        <div class="modal-footer border-0">
          <div class="theme-dark-green p-4 w-100" style="border-radius: 10px">
            <div
              class="
                bg-white
                d-flex
                align-items-center
                justify-content-center
                rounded-pill
              "
            >
              <p
                class="px-4 py-2 px-lg-4 m-0 p-0 repo-info"
                style="font-size: 0.9rem"
                id="modal-result"
              >
                This repository is
                <span class="fw-bold theme-light-orange-link">-</span>
                for Hacktoberfest 2022
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>