<!-- Navbar -->
<nav class="navbar navbar-expand-lg px-3 px-lg-5 custom-nav bg-light w-100">
  <div class="container-fluid">
    <div class="logo">
      <a class="navbar-brand" href="https://hacktoberfest.digitalocean.com">
        <div class="d mainLogo" data-theme="light">
          <svg
            width="2018"
            class="globe"
            height="1939"
            viewBox="0 0 2018 1939"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1882.68 1454.17C1604.09 1917.79 987.1 2076.64 504.584 1808.97C22.0671 1541.3 -143.255 948.457 135.326 484.831C413.907 21.2034 1030.9 -137.646 1513.42 130.028C1995.93 397.704 2161.25 990.543 1882.68 1454.17ZM321.666 1594.08C269.942 1466.29 261.287 1303.08 296.278 1127.41C244.75 1080.98 199.247 1034.53 160.632 989.028C124.145 946.033 93.4411 903.453 69.6001 862.136C36.8541 1127.74 128.082 1397.56 321.666 1594.08ZM89.2501 756.748C109.096 814.287 149.734 880.315 209.498 950.742C239.365 985.938 273.736 1021.91 312.186 1058.14C325.702 1006.12 342.929 953.287 363.885 900.224C367.065 904.621 370.663 908.768 374.655 912.602C386.538 924.02 401.258 932.079 417.223 936.165C395.287 993.59 377.983 1050.48 365.235 1106.03C399.28 1135.53 435.887 1165.04 474.825 1194.27C473.665 1199.96 473.058 1205.83 473.058 1211.84V1269.25C430.078 1238.3 389.49 1206.87 351.569 1175.28C341.417 1236.95 337.103 1296.45 338.514 1352.58C343.075 1534.11 406.386 1671.12 513.74 1742.86L601.738 1596.41C605.761 1612.63 614.39 1627.62 626.862 1639.61C631.401 1643.96 636.354 1647.84 641.632 1651.18L568.853 1772.31C685.968 1820.89 837.37 1803.69 998.97 1718.97C1050.28 1692.07 1101.74 1658.74 1152.24 1619.45C1075.49 1593.95 995.62 1562.42 914.42 1525.17V1457.84C1015.7 1505.75 1114.71 1544.46 1207.83 1573.46C1218.32 1564.24 1228.75 1554.78 1239.1 1545.05H1324.26C1325.29 1545.05 1326.31 1545.04 1327.33 1545C1310.95 1561.82 1294.33 1578.04 1277.52 1593.66C1329.39 1607.53 1379.01 1618.16 1425.66 1625.41C1519.01 1639.93 1598.84 1640.72 1660.62 1628.47C1724.85 1569.79 1781.51 1501.37 1828.06 1423.88C1894.39 1313.51 1933.87 1195.32 1948.47 1076.31C1899.39 1077.11 1845.75 1072.85 1788.86 1064C1677.44 1046.67 1551.35 1011.4 1418.83 959.666V894.113C1486.58 921.432 1552.5 944.31 1615.44 962.584C1661.35 829.908 1682.37 701.151 1679.49 586.423C1675.05 409.588 1614.85 275 1512.5 201.84L1418.65 358.026C1417.23 335.985 1407.48 315.12 1391.14 299.413C1389.02 297.382 1386.82 295.457 1384.54 293.642L1458.4 170.705C1340.07 117.243 1184.93 133.065 1019.03 220.033C937.91 262.558 856.39 321.19 778.891 393.962H693.74C692.712 393.962 691.686 393.979 690.661 394.011C858.67 221.506 1051.62 111.385 1228.28 85.2616C975.41 27.2638 709.85 73.087 495.074 206.389C516.924 245.175 546.282 286.532 582.769 329.529C603.469 353.923 626.336 378.694 651.224 403.663C642.299 407.978 634.061 413.664 626.864 420.579C618.712 428.411 612.204 437.526 607.548 447.429C580.812 420.7 556.208 394.099 533.902 367.814C497.482 324.896 466.824 282.392 443.002 241.149C343.027 312.804 256.25 404.751 189.931 515.123C143.365 592.619 110.03 673.965 89.2501 756.748ZM1575.46 1697.52C1352.45 1857.56 1063.65 1916.56 789.733 1853.74C930.78 1832.88 1082.21 1758.48 1223.04 1641.53C1290.65 1661.19 1355.27 1675.83 1415.59 1685.22C1472.58 1694.08 1526.31 1698.34 1575.46 1697.52ZM1953.77 1015.59C1907.88 1016.81 1855.93 1013.06 1798.93 1004.19C1759.95 998.135 1718.89 989.721 1676.18 979.022C1757.92 741.264 1764.21 512.608 1696.34 344.922C1875.05 526.341 1966.52 770.229 1953.77 1015.59Z"
              fill="url(#paint0_linear_1108_5)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_1108_5"
                x1="271.653"
                y1="261.019"
                x2="944.41"
                y2="1990.01"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#0128B0" />
                <stop offset="0.505208" stop-color="#C42502" />
                <stop offset="1" stop-color="#A2A100" />
              </linearGradient>
            </defs>
          </svg>

          <svg
            class="h"
            width="1034"
            height="1055"
            viewBox="0 0 1034 1055"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.802734 422.319V323.138L0.809753 316.973H115.562V422.317H12.3727L0.802734 422.319Z"
              fill="#231616"
            />
            <path
              d="M115.562 246.073V316.973H230.315V738.35H115.562V780.56L115.556 843.69H219.156H230.315V850.07L230.308 911.71L230.315 1054.38H345.067V738.35H459.82V633.01L689.32 633V949.04H804.08V843.69H894.05H918.82L918.83 738.35H964.81H1030.05H1033.58V633H918.83V738.35H804.08V0.941406H689.32V106.285H574.57V211.629H459.82V243.428L459.81 307.338L459.82 316.973H475.5L574.56 316.975L574.57 211.629H688.13L689.32 211.631V315.079V316.973V373.465V433.167V527.661H459.82V633.01L345.067 633V106.285H230.315L230.308 143.469L230.315 211.629H115.562V246.073Z"
              fill="#231616"
            />
          </svg>
        </div>
      </a>
    </div>
    <button
      class="navbar-toggler nav-dark"
      type="button"
      data-theme="light"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="bi bi-list fs-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link custom-link text-capitalize theme-light-orange-link mx-3 fs-5"
            href="https://hacktoberfest.digitalocean.com/profile"
            >start Hacking</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link custom-link text-capitalize theme-light-orange-link mx-3 fs-5"
            href="https://www.firsttimersonly.com/"
            >first timers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link custom-link text-capitalize theme-light-orange-link mx-3 fs-5"
            href="https://hacktoberfest.digitalocean.com"
            >about</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
