<!-- Navbar -->
<nav class="navbar navbar-expand-lg px-3 px-lg-5 custom-nav bg-light w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://hacktoberfest.digitalocean.com">
        <img
          src="svg/logo.svg"
          alt="HacktoberFest-2021"
          draggable="false"
          width="50"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="bi bi-list fs-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="
                nav-link
                custom-link
                text-capitalize
                theme-light-orange-link
                mx-3
                fs-5
              "
              href="https://hacktoberfest.digitalocean.com/profile"
              >start Hacking</a
            >
          </li>
          <li class="nav-item">
            <a
              class="
                nav-link
                custom-link
                text-capitalize
                theme-light-orange-link
                mx-3
                fs-5
              "
              href="https://www.firsttimersonly.com/"
              >first timers</a
            >
          </li>
          <li class="nav-item">
            <a
              class="
                nav-link
                custom-link
                text-capitalize
                theme-light-orange-link
                mx-3
                fs-5
              "
              href="https://hacktoberfest.digitalocean.com"
              >about</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>