<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hacktoberfest Repository Checker</title>
    <link rel="stylesheet" href="/css/not-october.css">
  </head>
  <body>
    <section class="main-container">
      <div class="content-wrapper">
        <img src="/svg/modalLogo.svg" alt="Hf2021" class="hf-img" />
        <p>It was a great experience this year</p>
        <p>Will See you next year, till then keep <span class="hero-text">open sourcing</span></p>
      </div>
    </section>
  </body>
</html>
