:root {
  --theme-light-bg: #f4f0e1;
  --theme-light-green: #677662;
  --theme-light-orange: #212529;
  --theme-copyright: #d2d1c4;

  --theme-dark-bg: #170f1e;
  --theme-dark-white: rgb(229, 225, 230);
  --theme-dark-orange: #b53a26;
  --theme-dark-green: #505c4c;
}
.theme-toggler-container {
  position: fixed;
  bottom: 8vh;
  right: 3vw;
  z-index: 5 !important;
}
.theme-toggler-button {
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  border: none;
  outline: none !important;
  font-size: 1.5rem !important;
  background-color: var(--theme-light-green);
  color: white;
}
.bg-light {
  background-color: var(--theme-light-bg) !important;
}
.bg-dark {
  background-color: var(--theme-dark-bg) !important;
  background-image: url("../grain-dark.png");
  color: rgb(229, 225, 230);
  background-size: auto;
  background-repeat: repeat;
}
.theme-light-orange {
  background-color: var(--theme-light-orange) !important;
}
.theme-light-orange-link {
  color: var(--theme-light-orange) !important;
}
.theme-dark-green-link {
  color: var(--theme-dark-white) !important;
}
.theme-dark-orange {
  background-color: var(--theme-dark-orange) !important;
}
.theme-light-green {
  background-color: var(--theme-light-green) !important;
}
.theme-dark-green {
  background-color: var(--theme-dark-green) !important;
}
.copyright-dark{
  color: var(--theme-copyright) !important;
}
.copyright-light{
  color: var(--theme-light-orange) !important;
}
@media screen and (max-height: 500px) {
  .theme-toggler-container {
    bottom: 0vh;
  }
}
