body.dark {
    background-color: rgb(7, 37, 64);
}

body.dark .hack-header .hack-menu-button {
    color: rgb(156, 70, 104);
}

body.dark .hack-header ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(155, 70, 104, 0.43);
}

body.dark .hack-header ul li a {
    color: rgb(255, 255, 255);
}

body.dark .hack-menu-mobile {
    background-color: rgb(99, 60, 76);
}

body.dark .hack-main article header h4 {
    color: rgb(255, 255, 255);
}

body.dark .hack-main article input {
    background-color: rgb(24, 61, 93);
    color: rgb(255, 255, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

body.dark .hack-main article button:hover {
    background: none;
}

body.dark .hack-switch p {
    color: rgb(147, 194, 219);
}