:root {
    --theme-light-bg: #F4F0E1; 
    --theme-light-green: #677662;
    --theme-light-orange: #F74700;
    --theme-copyright: #D2D1C4;

    --theme-dark-bg:#595852;
    --theme-dark-green:#91A88C;
    --theme-dark-orange: #B53A26;

}
.theme-toggler-container {
  position: fixed;
  bottom: 8vh;
  right: 3vw;
}
.theme-toggler-button {
    border-radius: 50%;
    min-width: 60px;
    min-height: 60px;
    border: none;
    outline: none !important;
    font-size: 1.5rem !important;
    background-color: var(--theme-light-green);
    color: white;
}
.bg-light {
    background-color: var(--theme-light-bg) !important;
}
.bg-dark {
    background-color: var(--theme-dark-bg) !important;
}
.theme-light-orange {
    background-color:var(--theme-light-orange) !important;
}
.theme-light-orange-link {
    color:var(--theme-light-orange) !important;
}
.theme-dark-green-link {
    color: var(--theme-dark-green) !important;
}
.theme-dark-orange {
    background-color: var(--theme-dark-orange) !important;
}
.theme-light-green {
    background-color: var(--theme-light-green) !important;
}
.theme-dark-green {
    background-color: var(--theme-dark-green) !important;
}
.theme-copyright {
    color: var(--theme-copyright) !important;
}
