body {
  overflow: hidden;
  height: 100vh;
}
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.repo-input {
  width: 90%;
  margin: auto;
}
.custom-search-input {
  border: none;
  height: 69px;
  outline: none !important;
}
.custom-search-button {
  width: 100px;
  height: 42px;
  border: none;
  outline: none;
  color: white;
}
.custom-link {
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  position: relative;
}
.custom-link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  border: 2px solid transparent;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.custom-link:hover {
  font-weight: 700;
}
.custom-link:hover::after {
  border: 2px solid #f74700;
  width: 100%;
}
.copyright {
  font-size: 0.7rem;
  z-index: 0;
}
@media screen and (max-width: 400px) {
  .custom-search-button {
    width: 30%;
  }
}
@media screen and (min-width: 980px) {
  .hacktoberfest-logo {
    width: 50% !important;
  }
  .repo-input {
    width: 70% !important;
  }
}